body.login-body {
    background-color: #e6f2ff;
}

.container.login-container {
    margin-top: 8%
}

.card.login-card {
    padding: 40px 0px 20px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5); /* For Chrome and Safari */
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5); /* For Mozilla Firefox */
}

img.login-img {
  padding: 0 2rem 2rem;
  margin: auto;
  display: block;
  width: 50%;
}

form.login-form {
    max-width: 350px;
    margin: auto;
}

button.login-btn {
    margin-bottom: 1.2rem;
}

a.create-new-account {
    font-size: 1.2rem;
    text-align: center;
    display: block;
    margin-top: 15px;
}





